/* Font Imports (local) */
@font-face {
    font-family: Skranji;
    src: url(fonts/Skranji/Skranji-Regular.ttf);
}
@font-face {
    font-family: Skranji-bold;
    src: url(fonts/Skranji/Skranji-Bold.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
/* General Styling */
body {
    font-family: "Quicksand"!important;
}
footer {
    margin-top: 5%;
    margin-bottom: -5%;
    background-color:#212529;
    color: #f8f9fa;
}
footer a {
    color:#6c757d;
    transition: all 0.25s ease-in-out;
    text-align: center;
    text-decoration: none;
}
footer a:hover{
    color: #ced4da;
    transform: scale(1.5);
}

footer p {
    padding-top: 1rem;
    color: #ced4da;
    text-align: center;
}
.footer-icons {
    text-align: center;
    padding-top: 1em;
}
.footer-icons a {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.navigation {
    width:100%;
}
#body-container {
    background-color: rgb(0, 109, 199);
}
#main-container {
    width: 75%;
    margin-left: 12.5%;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 50px;
    box-shadow: 4px 8px 12px rgb(0, 0, 0);
}
#bannerImage {
    width: 75%;
    border-radius: 2rem;
    box-shadow:  2px 4px 8px rgb(0, 0, 0);
}
.banner h1{
    font-family: "Skranji";
    padding: 2rem;
    font-size: 8rem;
    text-shadow: 2px 2px 1px white; 
}
.banner h2{
    font-family: "Skranji";
    padding: 1rem;
}
.banner {
    border-bottom: 4px dotted black;
    padding-bottom: 4rem;
}
.navbar-nav {
    text-align: left;
    margin-right: 12.5%;
}
 .nav-item {
    padding: 0 2.5em 0 2.5em;
}
/* Responsive Design Queries */
@media screen and (max-width: 370px){
    .banner h1 {
        display: none;
    }
}
@media screen and (max-width: 420px){
    .banner h1 {
        font-size: 48px;
    }
    .fa {
        margin-left: 7.5%;
        margin-right: 12.5%;
    }
}
@media screen and (max-width: 700px){
    .banner h1 {
        font-size: 4rem;
    }
    .banner h2 {
        font-size: 2rem;
    }
    #p-home2 {
        width: 125%;
        padding-right: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .fa {
        margin-left: 12.5%;
        margin-right: 25%;
    }
}
@media screen and (max-width: 1300px ){
    p {
        font-size: 12px!important;
    }
    #img-home1 {
        width: 50%;
    }
    #p-home1 {
        padding-right: 1.5rem;
    }
    #img-home2 {
        width: 30%;
    }
    #img-home3 {
        width: 40%!important;
    }
    #p-home2 {
        padding-right: 1.5rem;  
    }
    #p-home3 {
        padding-right: 1.5rem;
        width: 150%;
    }
    .fa {
        margin-left: 5%;
    }
    .about-content {
        margin-top: 1.5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .about-content-bottom {
        margin-left: 5%;
    }
}
/* Home Page */
p {
    font-size: 1.25rem;
}
.section-home h2 {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 5%;
    font-size: 48px;
    font-style: bold;
    font-weight:bolder;
}
.section-home p {
    padding-left: 1rem;
    margin-bottom: 10%;
}
.section-home h3 {
    padding-left: 1rem;
    font-style: bold;
    font-weight:bolder;
}
.section-home ul {
    font-size: 1.5em;
    margin-left: 10%;
}
#section-1 {
    margin-left: 5%;
    margin-right: 5%;
}
#p-border {
    border-top: 1px dotted black;
    overflow: hidden;
}
#section-2 {
    margin-top: -1%;
    width: 60%;
    border-top: 1px dotted black;
    margin-left: 25%;
}
#section-2 h3 {
    margin-left:5%;
}
#section-3 {
    margin-left: 5%;
    width: 60%;
    border-top: 1px dotted black;
}
#img-home1 {
    float: right!important;
    border-radius: 5rem;
    border: 4px solid black;
    background-color: black;
    margin-right: 5%;
    margin-left:  5%;
}
#img-home2 {
    float:left;
    border-radius: 15rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: black;
    margin-right: 5%;
}
#img-home3 {
    float: right;
    border-radius: 5rem;
    border: 4px solid black;
    background-color: black;
    margin-top: 2%;
    margin-right: 2.5%;
    margin-left: 1%;
    width: auto;
}
.section-home h3 {
    margin-top: 5%;
}
#p-home1 {
    font-size: 1.25rem;
}
#p-home2{
    font-size: 1.25rem;
}
#p-home3 {
    font-size: 1.25rem;
    padding-right: 2rem;
}
#sec2-cont {
    margin-left: 5%;
}
/* Available Kittens Page */
.carousel-kittens{
    margin-bottom: 2.5%; 
    margin-left: 30%;
}
.carousel {
    max-width: 50%;  
    background-color: rgba(0, 0, 0, 0.53);
    padding-bottom: 3em;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
}
.carousel h2 {
    text-align: center;
    margin-bottom: 15%;
    font-style: underline;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.section-forSale {
    text-align: center;
}
.truffet {
    width: 10%;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
    transition: 0.5s ease;
    background-color:#0d6dfd8f;
    color:rgba(255, 255, 255, 0.616);
}
.truffet:hover {
    background-color: #0d6efd;
    color: white;
}
.mowgli {
    width: 10%;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
    background-color:#0d6dfd8f;
    color:rgba(255, 255, 255, 0.603);
    transition: 0.5s ease;
}
.mowgli:hover {
    background-color: #0d6efd;
    color: white;
}
.card-group { 
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 5%;
}
.btn-primary { 
    background-color:#0d6efd;
    border: 2px outset black;
    transition:0.25s ease;
}
.btn-primary:hover {
    border: 2px inset black;
}
.available-content-bottom {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2rem;
}
/* Retiring Page */
.jillian {
    width: 10%;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
    transition: 0.5s ease;
    background-color:#0d6dfd8f;
    color:rgba(255, 255, 255, 0.616);
}
.jillian:hover {
    background-color: #0d6efd;
    color: white;
}
.stormy {
    width: 10%;
    border: 2px solid black;
    box-shadow: 2px 4px 8px black;
    background-color:#0d6dfd8f;
    color:rgba(255, 255, 255, 0.603);
    transition: 0.5s ease;
}
.stormy:hover {
    background-color: #0d6efd;
    color: white;
}
.card-group { 
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 5%;
}
.btn-primary { 
    background-color:#0d6efd;
    border: 2px outset black;
    transition:0.25s ease;
}
.btn-primary:hover {
    border: 2px inset black;
}
/* About Page */
.map {
    float: right;
    margin-left: 2.5%;
    margin-right: 5%;
    border: 4px solid black;
    background-color: black;
    box-shadow: 2px 2px 4px black;
}
.map h3 {
    color: white;
}
#lisa-card {
    float: left;
    margin: 5% 5% 5% 5%;
    border: 4px solid black;
    background-color: #0d6efd;
    color: white;
    box-shadow: 2px 4px 8px black;
}
.about-content {
    margin-top: 1.5%;
    margin-right: 1%;
    padding-right: 1rem;
}
.about-content-bottom {
    margin-left: 5%;
    padding-left: 1rem;
}
.about-list {
    border: none;
    margin-bottom: 2.5%;
    list-style-type: square;
}
.about-list ul {
   font-size: 1rem;
}
#accordian-faq {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
    box-shadow: 2px 4px 8px black;
    background-color: #0d6efd;
}
#accordian-faq h2 {
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
}
.accordion-item {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    border: none;
}
.accordion-button {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}
.accordion-body {
    background-color: rgba(0, 0, 0, 0.37);
    border: none;
}